html{
	background-color:#005586ef;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.newItem{
	text-align: center;
}
h1, h3{
	text-align: center;
	color: white;
	font-family: cursive;
	font-size: 40px;
	font-weight: 100;
}

h3 {
	font-size: 25px;
	color: rgb(102, 255, 122);
}

footer{
	color: rgb(102, 255, 122);
	padding-top: 10px;
	padding-left: 5px;
	font-family: impact;
	font-size: 15px;
}

/* Removes the bullet points from the list*/
ul {
	margin: 0;
	padding: 0;
}


/* Formats the lists' items */
ul li {
	text-align: center;
	cursor: pointer;
	position: relative;
	padding: 10px 8px 10px 30px;
	background:rgba(255, 19, 19, 0.826);
	font-size: 20px;
	transition: 0.2s;
	font-family: cursive;

	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
	content: url(checkmark.png);
	zoom: 5%;
/*
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;

	*/
  }

  /* Style the close button */
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding:  10px 8px 10px 8px;
}
  
.close:hover {
	background-color: #ff1100;
	color: white;
}


/* Changes the color of the list item when hovered over*/
ul li:hover {
	background: rgb(255, 98, 13);
}

/* Formats the checked list items */
ul li.checked {
	background:rgba(2, 94, 43, 0.685);
	color: #fff;
	text-decoration: line-through;
}

.header {
	padding: 20px 30px 50px;
	color: white;
	text-align: center;
}

/* Adds style to the text field */
newItem{
	margin:0;
	border: none;
	width: 40%;
	padding: 10px;
	float: left;
	font-size: 16px;
}

/* Adds style to the add button */
button{
	background: #00ccd7;
	transition:0.3s;
	border-radius: 10%;
	width: 90px;
	height: 25px;
	border: #00a2ffef;
	color: white;
	font-family: cursive;
}

/* Changes color of the button when hovered over */
button:hover {
	background:  black;
	color: rgb(255, 0, 255);
}
